{
  "stage": 0,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "extends": ["airbnb"],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "comma-dangle": ["error", "never"]
  }
}
