@import 'reset';
@import 'menu';

html {
  // simplify rem calculations
  // 1rem == 10px
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  // reset base font-size to 16px
  font-size: 1.6em;
  font-family: 'PT Sans', sans-serif;
}

html, body {
  min-height: 100%;
  position: relative;
}

.header {
  padding: 20px 0;
  background: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 150px);
  padding: 60px 15px;
  box-shadow: inset 0 0 10px #000;
}

.title {
  letter-spacing: -1px;
  text-align: center;
  color: #222;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}